body {
  background-color: crimson;
}

.card{
  overflow: hidden;
}
.card img {
  width: 100%;
  height: 410px;
}

.publicationYear,
.duration {
  font-size: .8rem;
  line-height: 3px;
}

.genreFilm {
  font-weight: lighter;
}